certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
defusedxml==0.7.1
Flask==2.0.1
Flask-JWT-Extended==4.3.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
httpie==2.5.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2==2.9.1
pycparser==2.20
Pygments==2.10.0
PyJWT==2.1.0
PySocks==1.7.1
requests==2.26.0
requests-toolbelt==0.9.1
SQLAlchemy==1.4.23
urllib3==1.26.6
Werkzeug==2.0.1
